<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pullup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />
  

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label=""
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pullup.Main"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="About"
             android:theme="@android:style/Theme.Dialog"/>    
         <activity android:name="Training"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Start"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/> 
         <activity android:name="Level_1"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_2"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_3"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_4"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_5"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_6"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_7"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_8"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Level_9"
             android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Timer"
         	android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>
         <activity android:name="Finish"
         	android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"/>  
    </application>
   </manifest>